body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#section_title {
  text-decoration: underline;
  margin-top: 100px;
}

#section_keywords {
  text-decoration: underline;
  font-weight: bold;
}

#project_titles {
  text-decoration: underline;
  text-decoration-color: slategray;
}

#project_descriptions {
  margin-top: 100px;
  text-decoration-line: underline;
  text-decoration-color: slategray;
}

#paragraph_spacing {
  margin-top: 25px;
}

#center_image {
  display: flex;
  justify-content: center;
}

#imageRight {
  float: right;
}

#border {
  border-width: 4px;
  border-radius: 10px;
  border-style: solid;
  border-color: black;
}

#round_div {
  border-radius: 4px;
}

.horoscopeText {
  font-size: 18px;
}

.card {
  height: 100%;
}

p, h1 {
  color: rgb(197, 197, 198);
}